<div  class="container col-md-6" style="background-color: #FFFFFF; padding: 16px;">
  <div  class="row justify-content-center align-items-center">
    <div  class="col-md-8 text-center">
      <%= image_tag 'logo.jpg' , class:"figure-img img-fluid rounded" , style: "display: block;  margin-left: auto;  margin-right: auto;  width: 50%;"%>
      <p>Hello <%= @email %>!</p>

      <% if @resource.try(:unconfirmed_email?) %>
        <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
      <% else %>
        <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
      <% end %>

    </div>
  </div>
</div>
