<div  class="container col-md-6" style="background-color: #FFFFFF; padding: 16px;">
  <div  class="row justify-content-center align-items-center">
    <div  class="col-md-8 text-center">
      <%= image_tag 'logo.jpg' , class:"figure-img img-fluid rounded" , style: "display: block;  margin-left: auto;  margin-right: auto;  width: 50%;"%>
      <p>Hello <%= @resource.email %>!</p>

      <p>Someone has requested a link to change your password. You can do this through the link below.</p>

      <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

      <p>If you didn't request this, please ignore this email.</p>
      <p>Your password won't change until you access the link above and create a new one.</p>

    </div>
  </div>
</div>
