<div id="<%= dom_id consultum %>">
  <p>
    <strong>Data hora:</strong>
    <%= consultum.data_hora.strftime("%d/%m/%Y %H:%M") %>
  </p>

  <p>
    <strong>Dentistum:</strong>
    <%= Dentistum.find(consultum.dentistum_id).nome %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= Paciente.find(consultum.paciente_id).nome  %>
  </p>

</div>
