<div id="<%= dom_id consultum %>">
  <p>
    <strong>Data hora:</strong>
    <%= consultum.data_hora %>
  </p>

  <p>
    <strong>Dentistum:</strong>
    <%= consultum.dentistum_id %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= consultum.paciente_id %>
  </p>

</div>
