<div  class="container col-md-6" style="background-color: #FFFFFF; padding: 16px;">
  <div  class="row justify-content-center align-items-center">
    <div  class="col-md-8 text-center">
      <h1>Nova Consulta</h1>
      <%= render "form", consultum: @consultum %>
      <br>
      <div>
        <% if paciente_signed_in? %>
          <%= link_to "Voltar", "/minhas_consultas/#{current_paciente.id}"%>
        <% else %>
          <%= link_to "Voltar para consultas", consulta_path %>
        <% end %>

      </div>
    </div>
  </div>
</div>
