<div id="<%= dom_id recepcionista %>">
  <p>
    <strong>Nome:</strong>
    <%= recepcionista.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= recepcionista.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= recepcionista.email %>
  </p>

</div>
