<h1>Editing recepcionista</h1>

<%= render "form", recepcionista: @recepcionista %>

<br>

<div>
  <%= link_to "Show this recepcionista", @recepcionista %> |
  <%= link_to "Back to recepcionistas", recepcionistas_path %>
</div>
